<main>
      
      <section class="py-5">
        <h2 class="text-center mb-5">NOTE</h2>
        <div class="container">
          <div class="mb-5 row">
            <div  class="col-sm-8">
              <h3>空と海</h3>
              <p>空は、ひろいなぁ〜！　青い海には、ほど遠い！</p>
            </div>
            <div class="col-sm-4">
              <img src="/UMI.JPG" class="w-100">
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-8 order-sm-2">
              <h3>お花</h3>
              <p>野に咲く花のように！　強く！　たくましく！</p>
            </div>
            <div class="col-sm-4 order-sm-1">
              <img src="/HANA.JPG" class="w-100 rounded-circle">
            </div>
          </div>
        </div>
      </section>
      
      <section class="bg-light text-center py-5">
        <a href="" class="btn btn-primary btn-lg">Get It Now!</a>
      </section>
      
    </main>
    
    <%= link_to "blogs一覧画面へ", blogs_path, class: "btn btn-primary btn-md" %>
