.header {
 font-size: 40px;
 background: #AFEEEE;
 height: 50px;
 position: relative;
 text-align: center;
 vertical-align: middle;
}

.footer {
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 0;
  background-color: #AFEEEE;
  display: table;
}

.footer p {
  font-size: 10px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

body{
  text-align: center;
}

.index_title {
  color: #B0E0E6;
}

.index_content {
  color: #000000;
}

.index_blog {
  font-size: 30px;
}

.index_khs {
  margin-left: 0 auto;
}

.index_newblog {
  margin-right: 0 auto;
}


